<div class="container" style="margin-top: 30px;">
  <div class="row">
  	<div class="col-sm-10">
  	  <div class="row">
  	  <div class="col-sm-7">
  	    <h1><%= @artist.name %></h1>
  	    <h3>Albums (<%= @albums.count%>)</h3>
        <div class="row" style="margin-top: 30px;">
          <% @albums.each do |album| %>
          <div class="col-sm-3">
          <div class="thumbnail" style="height: 225px;">
            <img src="<%= album.image_url %>" alt="<%= album.name %>">
            <div class="caption">
              <p><%= album.name %></p>
              <p><%= album.released_at %></p>
            </div>
          </div>
          </div>

          <% end %>
        </div>

  	  </div>

  	    <div class="col-sm-4 col-sm-offset-1">
  		  <img src="<%= @artist.image_url %>" alt="<%= @artist.name %>" class="pull-right img-responsive img-rounded">
  	    </div>

      </div>

    </div>

  </div>
</div>